<ul class="sidebar-menu" data-widget="tree">
    <li class="header">HEADER</li>
    <!-- Optionally, you can add icons to the links -->
    <li><a href="/Customer/Find"><i class="fa fa-list"></i> <span>Customer List</span></a></li>
    <li><a href="/Customer/Create"><i class="fa fa-users"></i> <span>Create Customer</span></a></li>
</ul>